// Bootstrap
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/lightbox2/dist/css/lightbox';
@import url('https://fonts.googleapis.com/css?family=Jockey+One|Lato&subset=latin-ext');

$primary-font: 'Lato', sans-serif;
$secondary-font: 'Jockey One', sans-serif;

$primary-color: #4d9fe7;
$background-color: #f9f9f9;
$background-footer: #40434f;
$border-color: #cecece;

$box-shadow: 0 14px 26px rgba(0, 0, 0, .04);
$box-shadow--hover:  0 24px 36px rgba(0, 0, 0, .1);
$box-shadow--active: 0 12px 20px rgba(0, 0, 0, .1);

$border-radius: 5%;

$width-big-desktop: 70%;
$width-desktop: 80%;

$tablet: 768px;
$small-desktop: 992px;
$desktop: 1200px;
$big-desktop: 1600px;

//Media queries

@mixin mobile {
  @media (max-width: #{$tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$small-desktop - 1px}) {
    @content;
  }
}

@mixin small-desktop {
  @media (min-width: #{$small-desktop}) and (max-width: #{$desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$big-desktop - 1px}) {
    @content;
  }
}

@mixin big-desktop {
  @media (min-width: #{$big-desktop}) {
    @content;
  }
}

body {
  font-family: $primary-font;
  font-size: 16px;
}

h1 {
  text-transform: uppercase;
}

h2 {
  border-bottom: 4px solid $primary-color;
  font-family: $secondary-font;
  margin: .5em 0 1em;
  max-width: 100%;
  padding: .3em;
  text-align: center;
  text-transform: uppercase;

  @include small-desktop {
    font-size: 2em;
  }

  @include tablet {
    font-size: 1.8em;
  }

  @include mobile {
    font-size: 1.5em;
  }
}

p {
  color: rgba(0, 0, 0, .75);
  font-size: 1.1em;

  @include tablet {
    font-size: 1em;
  }

  @include mobile {
    font-size: 1em;
  }
}

.hidden {
  display: none;
}

.ml-4 {
  margin-left: 2.5em;
}

.mr-4 {
  margin-right: 2.5em;
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

.row {
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

.button {
  background-color: #f5f5f5;
  background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: .9em;
  font-weight: bold;
  line-height: 27px;
  min-width: 54px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #f8f8f8;
  background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  color: #333;
}

.button.blue {
  background-color: $primary-color;
  background-image: linear-gradient(top, $primary-color, darken($primary-color, 10%));
  border: 1px solid darken($primary-color, 10%);
  color: #fff;
  transition: all .4s ease-out;
}

.button.blue:hover {
  background-color: #357ae8;
  background-image: linear-gradient(top, $primary-color, darken($primary-color, 15%));
  border: 1px solid darken($primary-color, 20%);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  transform: translateY(-1px);
}

.button.blue:active {
  box-shadow: $box-shadow--active;
  transform: translateY(.5px);
}

@import 'about_us';
@import 'contact';
@import 'features';
@import 'footer';
@import 'header';
@import 'navbar';
@import 'product';
@import 'products';

