footer {
  background-color: rgba(0, 5, 20, .75);
  min-height: 10vh;
}

footer p {
  color: $border-color;
}

.footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: .9em;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 10px;

  @include big-desktop {
    margin: 0 auto;
    width: $width-big-desktop;
  }

  @include desktop {
    margin: 0 auto;
    width: $width-desktop;
  }

  @include tablet {
    flex-direction: column;
  }
}

@include tablet {
  .footer__logo {
    margin-top: .5em;
  }
}

.footer__logo {
  background: url('/images/logo_transparent_white.png');
  height: 100px;
  position: relative;
  width: 200px;
}

.footer__logo:hover::after {
  opacity: 1;
  transition: opacity .5s;
}

.footer__info {
  display: flex;
  flex-direction: row;
  margin-top: 1em;

  @include tablet {
    justify-content: space-around;
    padding-top: 1em;
    width: 100%;
  }

  @include mobile {
    flex-wrap: wrap;
    text-align: center;
  }
}

.footer__info--address {
  margin: 0 1em;
  padding: 0 1em;

  @include mobile {
    margin: 0;
    padding: 0;
  }
}

.footer__info--contact {
  margin: 0 1em;
  padding: 0 1em;

  @include mobile {
    margin: 0;
    padding: 0;
  }
}

.footer__info--contact i {
  margin: 0 1em;
}

.footer__info--copyrights p {
  font-size: .8em;
  margin: 0;
  padding-top: 1em;
  text-align: center;
}
