header {
  align-items: center;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  border-bottom: 2px solid $border-color;
  border-bottom-left-radius: 65% 10%;
  border-bottom-right-radius: 65% 10%;
  display: flex;
  height: 55vh;
  justify-content: center;
  min-width: 100%;

  @include big-desktop {
    background-size: cover;
  }

  @include tablet {
    background-size: cover;
    height: 45vh;
  }

  @include mobile {
    background-size: cover;
    height: 50vh;
  }
}

header h1 {
  color: rgba(0, 0, 0, .65);
  font-family: $secondary-font;
  font-size: 6.5em;
  text-align: center;
  text-shadow: 4px 3px 0 lighten($primary-color, 20%);
  transition: text-shadow .4s ease;

  @include desktop {
    font-size: 6em;
  }

  @include small-desktop {
    font-size: 5.5em;
  }

  @include tablet {
    text-shadow: 3px 2px 0 lighten($primary-color, 20%);
    font-size: 4em;
  }

  @include mobile {
    text-shadow: 3px 2px 0 lighten($primary-color, 20%);
    font-size: 2em;
  }
}

header.home {
  background-image: url('/images/headers/home_header_large.jpg');

  @include desktop {
    background-image: url('/images/headers/home_header_desktop.jpg');
  }

  @include small-desktop {
    background-image: url('/images/headers/home_header_small_desktop.jpg');
  }

  @include tablet {
    background-image: url('/images/headers/home_header_tablet.jpg');
  }

  @include mobile {
    background-image: url('/images/headers/home_header_mobile.jpg');
  }
}

header.pape {
  background-image: url('/images/headers/pape_header_large.jpg');

  @include desktop {
    background-image: url('/images/headers/pape_header_desktop.jpg');
  }

  @include small-desktop {
    background-image: url('/images/headers/pape_header_small_desktop.jpg');
  }

  @include tablet {
    background-image: url('/images/headers/pape_header_tablet.jpg');
  }

  @include mobile {
    background-image: url('/images/headers/pape_header_mobile.jpg');
  }
}

header.termo {
  background-image: url('/images/headers/termo_header_large.jpg');

  @include desktop {
    background-image: url('/images/headers/termo_header_desktop.jpg');
  }

  @include small-desktop {
    background-image: url('/images/headers/termo_header_small_desktop.jpg');
  }

  @include tablet {
    background-image: url('/images/headers/termo_header_tablet.jpg');
  }

  @include mobile {
    background-image: url('/images/headers/termo_header_mobile.jpg');
  }
}

header.contact_bg {
  background-image: url('/images/headers/contact_header_large.jpg');

  @include desktop {
    background-image: url('/images/headers/contact_header_desktop.jpg');
  }

  @include small-desktop {
    background-image: url('/images/headers/contact_header_small_desktop.jpg');
  }

  @include tablet {
    background-image: url('/images/headers/contact_header_tablet.jpg');
  }

  @include mobile {
    background-image: url('/images/headers/contact_header_mobile.jpg');
  }
}
