header {
  align-items: center;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid $border-color;
  display: flex;
  height: 65vh;
  justify-content: center;
  min-width: 100%;

  @include tablet {
    height: 350px;
    padding-top: 100px;
  }

}

header h1 {
  color: #fff;
  font-family: $header-font;
  font-size: 7.5em;
  text-align: center;
  text-shadow: 1px 2px 0 #000;

  @include desktop {
    font-size: 6em;
  }

  @include small-desktop {
    font-size: 5.5em;
  }

  @include tablet {
    font-size: 4.65em;
  }

  @include mobile {
    font-size: 2.75em;
  }
}

.header__icon {
  position: absolute;
  bottom: 5%;
}


.scroll-down {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;

  @include tablet {
    display: none;
  }
}

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

header.home {
  height: 100vh;
  background-image: url('/images/headers/home_header_base.jpg');

  @include tablet {
    background-image: url('/images/headers/home_header_base_tablet.jpg');
  }
}

header.pape {
  background-image: url('/images/headers/pape_header_base.jpg');

  @include tablet {
    background-image: url('/images/headers/pape_header_base_tablet.jpg');
  }
}

header.termo {
  background-image: url('/images/headers/termo_header_base.jpg');

  @include tablet {
    background-image: url('/images/headers/termo_header_base_tablet.jpg');
  }
}

header.contact_bg {
  background-image: url('/images/headers/contact_header_base.jpg');

  @include tablet {
    background-image: url('/images/headers/contact_header_base_tablet.jpg');
  }
}

