nav {
  width: 100%;
}

.navbar {
  padding: 0 1em;
  position: absolute;
  width: 70%;
  left: 50%;
  transform: translate(-50%, 0);

  @include big-desktop {
    width: $width-big-desktop;
  }

  @include desktop {
    width: $width-desktop;
  }

  @include small-desktop {
    width: $width-small-desktop;
  }
}

.navbar__mobile {
  display: none;
}

.nav__logo {
  background: url('/images/logo_transparent_white.png');
  height: 100px;
  position: relative;
  width: 200px;
}

.navbar__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px;

  @include desktop {
    padding: 0;
  }
}

.navbar__list--item a {
  color: #ece7f0;
  display: block;
  font-size: 1.15em;
  margin-right: 5px;
  padding: 7px 8px 3px;
  text-align: center;
  text-shadow: 2px 1px 0 #000000;
  text-decoration: none;

  @include desktop {
    font-size: 1.05em;
  }

  @include small-desktop {
    font-size: 1em;
  }
}

.navbar__list--item a:hover {
  color: #fff;
  cursor: pointer;
  transition: all .15s ease-out;
}

.navbar__list--item.active a {
  color: #fff;
  transition: all .15s ease-out;
}


@include tablet {
  .navbar {
    position: fixed;
    background: #fff;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    width: 100%;
    box-shadow: 1px 5px 8px -4px rgba(0,0,0,0.6);
    z-index: 99;
  }

  .navbar__mobile {
    display: block;
    left: 0;
    margin: 4px;
    padding: 4px;
    position: absolute;
    top: 15px;
  }

  .navbar__mobile i {
    font-size: 2em;
  }

  .navbar__mobile i:hover {
    cursor: pointer;
  }

  .navbar__logo img {
    margin: 0;
  }

  .nav__logo {
    background: url('/images/logo_transparent.png');
    background-size: cover;
    height: 75px;
    position: relative;
    width: 150px;
  }

  .navbar__list {
    display: none;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .navbar_show {
    display: block;
  }

  .navbar__list li a {
    color: #737373;
    display: block;
    font-size: 1em;
    margin-right: 0;
    padding: .5em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 0 #000000;
  }

  .navbar__list li a:hover {
    color: #fff;
    text-shadow: 0 0 0 #fff;
    background: lighten($primary-color, 25%);
    cursor: pointer;
  }

  .navbar__list--item.active a {
    color: #000;
    font-size: 1.05em;
    transition: all .15s ease-out;
  }

  .navbar__list li a:active {
    color: #fff;
    font-size: 1em;
    background: lighten($primary-color, 25%);
  }
}
